html{
    height: 100%;
}

body{
    background-color: #D79771;
    height: auto;
}

table, th, td{
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    border: 1px solid #753422;
}

.float-container{
    border: 30px solid #753422;
    
    height: auto;
}

.float-child{
    height: auto;
    border: 1px solid red;
    
    
}

.float-child2{
    width: 30%;
    height: auto;
    float: right;
    border: 1px solid red;
    background-color: #FFEBC9;
    border:10px solid #753422;
    margin-right: 10px;
    margin-left: 10px;
}

.header{
    float: none;
    border: 1px solid red;
    background-color: #B05B3B;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.nav-bar{
    float: none;
    border: 1px solid red;
    background-color: #B05B3B;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.nav-bar li{
    display: inline;
}

.nav-bar ul li a{
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background-color: #FFEBC9;
    padding-right: 10px;
    padding-left: 10px;

}

.pic{
    width: auto;
    height: auto;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    
}

.name{
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 5px;
    /* border: 1px solid red; */
    
}

.contact-info
{
    text-align: center; 
    border: 1px solid red;
    background-color: #B05B3B;
    margin-top: 15px;
}