html{
    height: 100%;
}

body{
    background-color: #79b4b7;
    height: 100%;
}

h1{
    background-color: #F8F0DF;
}

h3{
    background-color: #fefbf3;
}

p{
    background-color: #F8F0DF;
}

.float-container{
    border: 3px solid #fff;
    padding: 20px;
    height: 100%;
}

.float-child{
    width: 48%;
    height: 100%;
    float: left;
    
}

.float-child2{
    width: 48%;
    height: 100%;
    float: right;
    
}

.pic{
    width: 48%;
    height: 100%;
    float: left;
    
}